[submodule "client"]
	path = client
	url = https://github.com/pravshot/promising-news-client/tree/main
	branch = main
[submodule "server"]
	path = server
	url = https://github.com/pravshot/promising-news-server/tree/main
	branch = main
